[Unit]
Description=OGN Receiver RF (port 50000)
After=network.target
Requires=network.target

[Service]
Type=simple
ExecStart=/usr/bin/procServ -f -p /tmp/procServ-50000.pid -k ^X --killsig 15 -x ^C -i ^D \
          -c /home/pi/rtlsdr-ogn 50000 ./ogn-rf Template.conf
User=pi
WorkingDirectory=/home/pi/rtlsdr-ogn

Restart=on-failure
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
